# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env & dependency files
venv/
env/
pip-selfcheck.json
.pyenv/
Pipfile
Pipfile.lock

# Django secrets & environment
*.env
*.env.*
local_settings.py
service-account.json
test_upload.py

# Static and media
static/
staticfiles/
media/
*.media/

# SQLite databases
db.sqlite3
*.sqlite3

# Logs
*.log
logs/
debug.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Build & packaging
build/
dist/
*.egg-info/
.eggs/
*.cover
coverage.xml
